
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


.row.display-flex {

    display: flex;
    flex-wrap: wrap;

}
.row.display-flex > [class*='col-'] {

    flex-grow: 1;

}


body {

    background-color: #FFFFFF;
    background-image: url(../images/bg.png);
    background-size: cover;        

}


.header-row {

    height : 10% ;
    margin : 5% 10% 5% 10% ;
    background-color : white ;
}

.header-image{

    width : 80%;
    height : 80%;
    margin: 8% 8% 8% 8%;
}

.header-text{

    text-align: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 11em;
    margin-right: 8%;
    
}
.header-text-info{
    
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8em;
    letter-spacing: 0.34em;
    color: grey;
    margin-right: 8%;
        
}