/* import IBM font */
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700);

body {
  background: linear-gradient(-90deg, #e2e2e2, #e2e2e2, #ffffff, #ffffff);
  background-size: 500% 100%;
  animation: gradient 10s ease infinite;
  height: 100vh;
  font-family: 'IBM Plex Sans', sans-serif;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.parent {
  background-image: radial-gradient(#949494 8%, transparent 0%);
  background-position: 0 0, 100px 100px;
  background-size: 30px 30px;
  height: 100%;
  width: 100%;
  padding-top: 20%;
}

.outer {
  height: 20%;
  display: flex;
  /* align-items: center; */
}

.outerleft{
  width: 20%;
  margin-left: 10%;
  float: left;
  height: auto;
}


.container {
  margin-left: 10%;
  margin-bottom: 9%;
  padding: 12;
  padding-right: 80;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  /* /* height: 20%; */
  width: 50%;
  border: #000000 solid 5px;
  border-radius: 3px;
  background-color: #ffffff;
}

.container:hover {
  background-color: #ffffffdd;
  border: #000000bb solid 5px;
}

.outerright{
  width: 30%;
  height: 40%;
  margin-right: 10%;
  margin-left: auto;
  float: right;
  transform: translate(0%,50%);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.link-container{
  width: 75px;
  height: 75px;
  border: #000000 solid 5px;
  border-radius: 3px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

img{
  margin-left: auto;
  margin-right: auto;
}

h1,
p {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  color: rgb(0, 0, 0);
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}