<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{post.title}}</title>
    <link href='https://fonts.googleapis.com/css?family=IBM+Plex+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">

</head>

<body class="typography bg-light">
    <main class="unit-page-content">
    <div class="sec-content sec-container-content">
      <article class="card">
        <h1 class="h4 card-title measure-wide"> {{post.title}}</h1>
        <div class="content body-lg-md measure-wide">
            {{post.content}}
      </div>
      </article>
    </div>  
    </main>
  
  </body>
  </html>